{% extends "::admin.html.twig" %}

{% block additional_style %}
    <link href="{{ asset('bundles/admin/css/details.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block nav %}
    {% import '::main_admin_menu.html.twig' as mainMenu %}
    {{ mainMenu.admin_navigation('user') }}
{% endblock %}

{% block breadcrumbs %} &raquo; <a href="{{ path('admin_usuario_index') }}">Usuarios</a>{% endblock %}
{% block header_title %} <p id="title">Detalles del  Usuario</p> {% endblock %}

{% block main %}
    <div class="details">
        <div class="dataDetails" id="userDetails">
            <div class="field">
                <label>Nombre Completo</label>
                <p>{{ usuario.nombre }}</p>
            </div>

            <div class="field">
                <label>Apellidos</label>
                <p>{{ usuario.apellidos }}</p>
            </div>

            <div class="field">
                <label>Correo electr&oacute;nico</label>
                <p>{{ usuario.email }}</p>
            </div>

            <div class="field">
                {% if usuario.role == 'ROLE_VIEWER' %}
                    <label>Rol</label>
                    <p>Consultante</p>
                {% elseif usuario.role == 'ROLE_EDITOR' %}
                    <label>Rol</label>
                    <p>Editor</p>
                {% elseif usuario.role == 'ROLE_ADMIN' %}
                    <label>Rol</label>
                    <p>Administrador</p>
                {% endif %}
            </div>

            <div class="field">
                <label>Nombre de Usuario</label>
                <p>{{ usuario.username }}</p>
            </div>

            <div class="field">
                <label>Centro al que pertenece</label>
                <p>{{ usuario.centro }}</p>
            </div>

        </div>
        <a class="button button-bottom" href="{{path('admin_usuario_index')}}">Volver al listado</a>
    </div>

{% endblock %}

{% block footerNav %}
    {% import '::footer_admin_menu.html.twig' as footerMenu %}
    {{ footerMenu.admin_footer_nav('user', "details") }}
{% endblock %}