<h2> aplicación web Ociosos v2.0</h2>

<b>Informacion del usuario que realizó la  solicitud:</b>

<p> <b> Nombre:</b> {{ name }}</p>

<p> <b>Correo:</b> {{ email }} </p>

<b>Información del producto que se ha solicitado:<b>

        Nombre:{{ nombre }}
        Codigo:{{ codigo }}

<b> Mensaje del solicitante:</b>{{ comment }}