{% extends "::admin.html.twig" %}

{% block additional_style %}
    <link href="{{ asset('bundles/admin/css/grids.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/admin/css/Pagination.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block nav %}
    {% import '::main_admin_menu.html.twig' as mainMenu %}
    {{ mainMenu.admin_navigation('state') }}
{% endblock %}

{% block breadcrumbs %} &raquo; <a href="{{ path('admin_portada') }}">Administraci&oacute;n</a> {% endblock %}
{% block header_title %} <p id="title">Provincias</p> {% endblock %}

{% block main %}

<div class="grid">
    <div class="dataGrid">
        <div class="button-container">
            <a class="button" href="{{path('admin_provincia_crear')}}">Nueva Provincia</a>
            <img src="{{ asset('bundles/admin/images/add2.png') }}" />
        </div>

        <table >
            <thead>
            <tr>
                <th >Nombre de la Provincia</th>
                <th>Operaciones</th>
            </tr>
            </thead>
            <tbody>
            {% for provincia in pagination %}
                <tr>
                    <td>{{provincia.nombre}}</td>
                    <td class="operations">
                        <a href="{{path('admin_provincia_editar', { 'id': provincia.id })}}">
                            <img src="{{ asset('/ociosos/web/bundles/admin/images/edit.png') }}" alt="Editar" title="Editar"><img/></a> &nbsp;
                        <a href="{{path('admin_provincia_eliminar', { 'id': provincia.id })}}">
                            <img src="{{ asset('/ociosos/web/bundles/admin/images/delete.png') }}" alt="Eliminar" title="Eliminar"><img/></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="count">
            <p> ( {{ pagination.getTotalItemCount  }} provincias) </p>
        </div>
        {#<a class="button" href="{{path('admin_provincia_crear')}}">Nueva Provincia</a>#}
    </div>
</div>


{% endblock %}


{% block footerNav %}
    {% import '::footer_admin_menu.html.twig' as footerMenu %}
    {{ footerMenu.admin_footer_nav('state', "list") }}
{% endblock %}