{% extends "::admin.html.twig" %}

{% block additional_style %}
    <link href="{{ asset('bundles/admin/css/details.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block nav %}
    {% import '::main_admin_menu.html.twig' as mainMenu %}
    {{ mainMenu.admin_navigation('product') }}
{% endblock %}

{% block breadcrumbs %} &raquo; <a href="{{ path('admin_producto_index') }}">Productos</a>{% endblock %}
{% block header_title %} <p id="title">Detalles del  Producto</p> {% endblock %}

{% block main %}

    <div class="details">
        <div class="dataDetails" id="entityDetails">
            <div class="field">
                <label>Nombre del Producto</label>
                <p>{{producto.nombre}}</p>
            </div>

            <div class="field">
                <label>C&oacute;digo</label>
                <p>{{producto.codigo}}</p>
            </div>

            <div class="field">
                <label>Fecha de Exportaci&oacute;n</label>
                <p>
                    {% if(producto.fechaExportacion) %}
                        {{producto.fechaExportacion|date('Y-m-d H:i:s')}}
                    {% endif %}
                </p>
            </div>

            <div class="field">
                <label>Unidad de Medida</label>
                <p>{{producto.uM}}</p>
            </div>

            <div class="field">
                <label>Cantidad</label>
                <p>{{producto.cantidad}}</p>
            </div>

            <div class="field">
                <label>Precio en Moneda Nacional</label>
                <p>{{producto.precioMN}}</p>
            </div>

            <div class="field">
                <label>Precio en Moneda Libremente Convertible</label>
                <p>{{producto.precioMLC}}</p>
            </div>

            <div class="field">
                <label>Almac&eacute;n al que pertenece</label>
                <p>{{producto.almacen}}</p>
            </div>

            <div class="field">
                <label>Categor&iacute;a en la que se agrupa</label>
                <p>{{producto.categoria}}</p>
            </div>

            <div class="field">
                <label>Centro que lo posee</label>
                <p>{{producto.centro}}</p>
            </div>

        </div>
        <a class="button button-bottom" href="{{path('admin_producto_index')}}">Volver al listado</a>
    </div>

{% endblock %}

{% block footerNav %}
    {% import '::footer_admin_menu.html.twig' as footerMenu %}
    {{ footerMenu.admin_footer_nav('product', "details") }}
{% endblock %}