{% extends "::frontend.html.twig" %}

{% block title %}Rodas XML{% endblock %}
{% block additionalCss %}
    <link href="{{ asset('bundles/rodasxml/css/RodasXml.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block nav %}
    {% import '::main_menu.html.twig' as mainMenu %}
    {% if is_granted('ROLE_VIEWER') or is_granted('ROLE_EDITOR') or is_granted('ROLE_ADMIN') %}
        {{ mainMenu.navigation('xml', app.user.role) }}
    {% else %}
        {{ mainMenu.navigation('xml', "") }}
    {% endif %}
{% endblock %}

{% block main %}
    <div id="main">
        <div id="rodasXML">
            <h2>El sistema no puede importar los productos del archivo  Xml por los siguientes motivos:</h2>
            <div id="validation" class="alert-error">
                <img src="{{ asset('bundles/rodasxml/images/error-32.png') }}" />
                <p class="msg-error">
                    Existen errores en el documento Xml.
                    Por favor revise el documento o contacte con el Administrador de la Aplicación Web.
                    A contunaci&oacute;n se listan los errores encontrados:
                </p>
                {% for error in errors %}
                    <p class="msg-error"> {{ error.message }} </p>
                {% endfor %}
            </div>
            <a class="links xml-links" href="{{ path('rodas_xml_index') }}">Volver</a>
        </div>
    </div>

{% endblock %}

{% block group2 %}
    {% import '::footer_menu.html.twig' as footerMenu %}
    {% if is_granted('ROLE_VIEWER') or is_granted('ROLE_EDITOR') or is_granted('ROLE_ADMIN') %}
        {{ footerMenu.footer_nav('xml', app.user.role, "group2") }}
    {% else %}
        {{ footerMenu.footer_nav('xml', "", "group2") }}
    {% endif %}
{% endblock %}
{% block group1 %}
    {% import '::footer_menu.html.twig' as footerMenu %}
    {{ footerMenu.footer_nav('', "", "group1") }}
{% endblock %}

{% block javascripts %}
{% endblock %}