{% extends "::frontend.html.twig" %}

{% block title %}Buscar por Filtros{% endblock %}
{% block additionalCss %}
    <link href="{{ asset('bundles/comun/css/Grids.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/comun/css/Pagination.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/comun/css/Filters.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/comun/js/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block nav %}
    {% import '::main_menu.html.twig' as mainMenu %}
    {% if is_granted('ROLE_VIEWER') or is_granted('ROLE_EDITOR') or is_granted('ROLE_ADMIN') %}
        {{ mainMenu.navigation('consults', app.user.role) }}
    {% else %}
        {{ mainMenu.navigation('consults', "") }}
    {% endif %}
{% endblock %}

{% block main %}
    <div id="main" >
        <div id="filters">
            <form name="consultasFrm" action="{{ path('res_consultas') }}" method="post">
                <div id="all-filters">
                    <div id="state-filter">
                        <div class="editor-label">Provincia:</div>
                        <div class="editor-field">
                            <select name="ProvinciaSlct">
                                <option selected>--Todas las Provincias--</option>
                                {% for provincia in provincias %}
                                    <option value="{{ provincia.id }}">{{ provincia.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div id="category-filter">
                        <div class="editor-label">Categor&iacute;a:</div>
                        <div class="editor-field">
                            <select name="CategoriaSlct">
                                <option selected>--Todas las Categor&iacute;as--</option>
                                {% for categoria in categorias %}
                                    <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div id="entity-filter">
                        <div class="editor-label">Entidad:</div>
                        <div class="editor-field">
                            <select name="CentroSlct">
                                <option selected>--Todas las Entidades--</option>
                                {% for centro in centros %}
                                    <option value="{{ centro.id }}">{{ centro.siglas }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="res-consultas">
            <ul>
                {% for producto in pagination %}
                    <li>
                        <div class="prod-item">
                            <p class="prod-name">{{ producto.nombre }}</p>
                            <div class="prod-description">
                                <p><span class="p-header">C&oacute;digo:</span> {{ producto.codigo }}</p>
                                <p><span class="p-header">Categor&iacute;a:</span> {{ producto.categoria }}</p>
                                <p><span class="p-header">Siglas del Centro:</span> {{ producto.centro.siglas }}</p>
                                <p><span class="p-header">Cantidad:</span> {{ producto.cantidad }}</p>
                                <p><span class="p-header">Estado:</span> {% if(producto.estado == 'O') %} Ocioso {% else %} Lenta Rotaci&oacute;n {% endif %}</p>
                            </div>
                            <div class="prod-buttons">
                                <a class="details" id="{{ producto.id }}" href="{{ path('buscar_termino_detalles') }}">Detalles</a>
                                <a href="{{ path('send_aplication_view',{'id':producto.id}) }}">Solicitar</a>
                            </div>
                            <div class="prod-image">
                                <img src="{{ asset('bundles/comun/images/box2.png') }}">
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div class="count">
                <p> ( {{ pagination.getTotalItemCount  }} productos) </p>
            </div>
            <script type="text/javascript" src="{{ asset('bundles/comun/js/Consultas/details.js') }}"></script>
        </div>
        <div id="backLoad">
        </div>
        <div id="loading">
            <img src="{{ asset('bundles/comun/images/loading2.gif') }}" />
        </div>
    </div>
{% endblock %}

{% block group2 %}
    {% import '::footer_menu.html.twig' as footerMenu %}
    {% if is_granted('ROLE_VIEWER') or is_granted('ROLE_EDITOR') or is_granted('ROLE_ADMIN') %}
        {{ footerMenu.footer_nav('consults', app.user.role, "group2") }}
    {% else %}
        {{ footerMenu.footer_nav('consults', "", "group2") }}
    {% endif %}
{% endblock %}
{% block group1 %}
    {% import '::footer_menu.html.twig' as footerMenu %}
    {{ footerMenu.footer_nav('', "", "group1") }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/comun/js/jqueryui/jquery-ui-1.10.4.custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/comun/js/Consultas/consultas.js') }}"></script>
{% endblock %}